body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#google-button>button {
  width: 300px;
}

.MuiOutlinedInput-input{
  padding: 11px 14px !important;
}
.MuiInputBase-formControl{
  padding-bottom: 5px;
  box-sizing: border-box;
  border-radius: 5px
}
button div{
  padding: .5rem !important;
}